div btn-group {
	margin: 0 auto;
}

/* unvisited link */
a:link {
    color: #ED3237;
}

/* visited link */
a:visited {
    color: #ED3237;
}

/* mouse over link */
a:hover {
    color: #F78181;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #ED3237;
}

div .col-xs-5:hover{
	color: #F78181;
}

.btn-warning{
	background: #F78181!important;
}