div btn-group {
	margin: 0 auto;
}

/* unvisited link */
a:link {
    color: #ED3237;
}

/* visited link */
a:visited {
    color: #ED3237;
}

/* mouse over link */
a:hover {
    color: #F78181;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #ED3237;
}

div .col-xs-5:hover{
	color: #F78181;
}

.btn-warning{
	background: #F78181!important;
}

.button {
   border-top: 1px solid #ff0000;
   background: #ff0000;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
   background: -webkit-linear-gradient(top, #ff0000, #ff0000);
   background: -moz-linear-gradient(top, #ff0000, #ff0000);
   background: -ms-linear-gradient(top, #ff0000, #ff0000);
   background: -o-linear-gradient(top, #ff0000, #ff0000);
   padding: 15px 30px;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

a.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
}
